.card {
  box-sizing: border-box;
  width: 200px;
  background-color: $color-background;
  border: 1px solid;
  border-radius: 5px;
  border-color: $color-borders;
  padding: 32px 16px 16px;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: 12px;
    margin: 0 0 4px;
    font-weight: 500;
    background-color: $color-background;
    color: $color-accent;
    margin-bottom: 4px;
    width: 100%;
    line-height: 18px;
  }

  &__description {
    margin: 0;
    font-size: 10px;
    background-color: $color-background;
    color: $color-secondary;
    margin-bottom: 16px;
    line-height: 14px;
    letter-spacing: 0;
  }

  &__rating {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
  }

  &__review {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    color: $color-accent;
    margin-right: 0;
    line-height: 14px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    margin-bottom: 16px;
  }
  &__price-text {
    font-size: 12px;
    line-height: 14px;
    background-color: $color-background;
    color: $color-secondary;
  }
  &__price-num {
    font-size: 16px;
    background-color: $color-background;
    color: $color-accent;
    font-weight: 700;
  }

  &__button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: $color-primary;
    color: $color-background;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    width: 100%;

    &:hover {
      background-color: $color-background;
      color: $color-primary;
      border: 1px solid;
      border-color: $color-primary;
      border-radius: 5px;
    }
  }
}
